.well {	border-left:4px solid #a5aeb3;}
.introtitle {background:#a5aeb3;}
.blogbox a.metablog:hover,.blogbox a.metablog:focus {	color: #a5aeb3;}
.readmore,.reply {color:#a5aeb3;}
.captionicons {	background:#a5aeb3;}
#filter ul li .selected {color: #a5aeb3 !Important;}
.defaultbutton {	background:#a5aeb3;}
.testimonial-name {	color:#a5aeb3;}
a.prev:hover,a.next:hover {background-color: #a5aeb3;}
.colorme {color:#a5aeb3;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {background:#a5aeb3;}
blockquote {border-left:5px solid #a5aeb3;}
.totop:hover {background:#a5aeb3;color:#fff;}
::selection {background-color: #a5aeb3; color: #fff;}


.blogbox h1.entry-title a:hover, .blogbox a.metablog:hover, .blogbox a.metablog:focus, .metablog a:hover, .reply, a.reply, .reply a, .readmore, a .readmore, .more-link, a .more-link {color:#a5aeb3;}
.defaultbutton, .form-submit #submit, .pagination .currentpage, .pagination a:hover, .pagination-comments .current {background: #a5aeb3;}
#filter ul li .selected, #filter ul li a:hover {background: #a5aeb3; color:#fff !important;}
a {color: #a5aeb3;}
a:hover {color: #a5aeb3;}
.colorme {color:#a5aeb3;}

.panel {border-left:4px solid #a5aeb3 !Important;}
.wow-tabs ul.ui-tabs-nav .ui-state-active a {border-bottom:2px solid #a5aeb3 !Important;}
.sbutton.default{background:#a5aeb3;}
.wow-pricing-table .wow-pricing-per, .wow-pricing-table .wow-pricing-cost, .wow-button {background:#a5aeb3 !important;}
.wow-accordion .wow-accordion-trigger.ui-state-active {border-top:3px solid #a5aeb3 !important;}
.wow-pricing-table > div {border-top:3px solid #a5aeb3 !Important;}